button.buttonColor {
    width: 100px;
    height: 33px;
    border: 1px solid #73666685;
    border-radius: 0px;
}
button.buttonColor:focus {outline:0;}
button.buttonColor:active {
    outline: 0;
}
.imgColer {

    max-width: 50px;

    max-height: 50px;

    margin-right: 5px;

    cursor: pointer;
}
.iconImagesByColor {
    width: 54px;
    cursor: pointer;
}

.listImg {
    clear:both;

}

#colorDefault {

    margin-top: 10px;
}
.tagColor {
    margin-bottom: 10px;
    border: 1px solid #cdd0d3;
    padding: 10px;
}