button.buttonColor {
    width: 100px;
    height: 33px;
    border: 1px solid #73666685;
    border-radius: 0px;
}
button.buttonColor:focus {outline:0;}
button.buttonColor:active {
    outline: 0;
}
.imgColer {

    max-width: 50px;

    max-height: 50px;

    margin-right: 5px;

    cursor: pointer;
}
.iconImagesByColor {
    width: 95px;
    cursor: pointer;
}

.listImg {
    clear:both;
    float: left;
    width: 100%;
    margin-top: 10px;
}

#colorDefault {

    margin-top: 10px;

    clear: both;
}
.tagColor {
    margin-bottom: 10px;
    border: 1px solid #cdd0d3;
    padding: 10px;
    float: left;
    width: 100%;
}

.outImgGroup {
    width: 100px;
    height:100px;
    float: left;
    margin-right: 10px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    border: 1px solid #7f6d6d;
    position: relative;
    cursor: pointer;
}

.outImgGroup .activeImgGroup {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-size: 50px 50px !important;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.outImgGroup .removeImgGroup {
    right:0px;
    background:#f00;
    color:#fff;
    position:absolute;
    width: 19px;
    height:20px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
.outImgGroup .removeImgGroup:hover {
    background: #7c1d1d;
}

.listImg .active .activeImgGroup {
    display:block;
}
.quantily {

    /* color: #000; */

    /* font-size: 16px; */

    font-weight: bold;
}
.quantily span {
    display:block;
    float:left;
    line-height: 26px;
}
.quantily input {

    width: 100px;

    padding: 2px 6px;

    margin-left: 10px;
}

.quantily input::-webkit-outer-spin-button,
.quantily input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

.quantily input[type=number] {
    -moz-appearance:textfield;
}
.input_add_item {
    max-width:400px;
}
.price label {
    clear:both;
    display:block;
}
.price input.input_add_item {
    width:100px;
    float:left
}

.price select {
    width:100px;
    padding: 7px 10px 7px 10px;
    /* float: left; */
    margin-left: 10px;
    border-radius: 5px;
}
#tagAvartar {
    width:100px;
    height:100px;
    border:1px solid #ccc;
    background: url('../../img/imgdefault.png') #fff center no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    /* background-size: cover !important; */
    /* background-size: 100px 100px !important; */
    cursor: pointer;
    border-radius:3px;
}